
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2 sidebar">


      <p><a ui-sref="dashboard"><span class="glyphicon glyphicon-home " aria-hidden="true"/>&nbsp;Dashboarddd</a></p>
      <hr>

      <p><a ui-sref="user" ng-click="showTable = !showTable"><span class="glyphicon glyphicon-user " aria-hidden="true"/>&nbsp;User</a></p>
      <hr>

      <p><a ui-sref="feedback"><span class="glyphicon glyphicon-hand-right " aria-hidden="true"/>&nbsp;Feedback</a>
      <hr>

      <p><a ui-sref="usersRecord" ><span class="glyphicon glyphicon-hand-right " aria-hidden="true"/>&nbsp;Users Record</a></p>
      <hr>

      <p><a ui-sref="record"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"/>&nbsp;Record</a></p>
      <hr>
      <p><a ui-sref="insertRecord"><span class="glyphicon glyphicon-play-left" aria-hidden="true"/>&nbsp;Insert Record</a></p>
      <hr>

    </div>

  </div>
</div>



